/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    display: flex;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}

/* DESKTOP */
@media all and (min-width:601px) {
    /*.main-aside, .main-aside-plants {*/
    /*    display: flex !important;*/
    /*}*/

    .main-aside :nth-child(1) { order: 2; }
    .main-aside :nth-child(2) { order: 1; }
    #ig-out {
        margin-left: 0;
    }
    #intro {
        margin: 1% 0 1% 1.6% !important;
    }

}

/*  GO FULL WIDTH BELOW 600 PIXELS */
@media only screen and (max-width: 600px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
    .section {display: block}
    #map {height: 350px !important;}


}